@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

body {
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 38px;
    color: white;
    background-image: url(../images/golemcollage.JPG);
    background-size: 250vh;
    background-repeat: repeat;
    height: 1600px;
}

p {
    font-size: 100px;
    color: sienna;
    border: 2px;
    text-shadow: 2px 2px black;
    text-align: center;

}

p:hover {
    transition: ease 0.7s;
    font-size: 130px;
    text-shadow: 4px 4px black;
    border: 2px;
    color: brown;
}

#comictitle{
 right: 0;
 font-family: 'Bangers', cursive;
text-align: center;
 padding-left: 300px;
 padding-top: -100px;
}

h1{
    text-shadow: 2px 2px white;
}
h4{
    text-shadow: 2px 2px black;
    font-family: 'Raleway', sans-serif;
}

h5{
    text-shadow: 2px 2px black;
    color: saddlebrown;
    font-family: 'Poiret One', cursive;
    text-align: left;   
}

#home {
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 38px;
    color: white;
}

#golem {
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 38px;
    color: white;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    padding: 5%;
}
#golem img{
    height: 700px;
    width: auto;
}
#comics {
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 38px;
    color: chocolate;
}

#social {
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 38px;
    color: chocolate;
}

#featured{
    overflow:hidden;
    color: white;
    width: unset;
    margin: 200px;
}

#navbar {
    position: fixed;
    color: saddlebrown;
    margin-left: auto;
    background-image: url(../images/CutterMidasSidecover.png);
    font-family: 'Bangers', cursive;
    height: 100vh;
    background-size: 100px;
    background-repeat: no-repeat;
    width: fit-content;
    float: left;
    justify-content: left;
    /* width: 100%; */
    align-content: left;
    /* justify-content: space-evenly; */
    /* background-color: white; */
    padding: 25px;
    list-style: none;
    display: flex;
    transform: scale(1);
    transition: transform 0.7s ease;
    text-shadow: 1px 1px black;
    left: 0;
    font-size: 26px;
    justify-content: space-evenly;
  
    /* overflow: hidden; */
    /* border: 50px 50px 50px 50px; */
    /* margin: 0 auto; */
    /* box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important; */

}

#navbar li:hover {
    transition: ease 0.7s;
    color: saddlebrown;
    text-shadow: 2px 2px black;
    font-size: 32px;
  
    
    
}

#slider{
    width: 80%;
overflow: hidden;
}
#slideOne {
    display: flex;
    background-color: black;
    text-shadow: 2px 2px white;
    color: sienna;
    font-family: 'Poiret One', cursive;
    text-align: left;
    overflow: hidden;
}

#comics {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    min-height: auto;
    align-items: center;
    /* width: 25rem; */
    height: 58rem;
}

#comics:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;

}

.overflow {
    overflow: hidden;
}

/* .card{
    width: 25rem;
    height: 62rem;
} */
.card-img-top {
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover {
    transform: scale(1.1);
}

.container-fluid .row {
    padding-top: 6rem;
    margin: 0 auto;
}

.row{
    padding: 100px;
}

